/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

:root {
  --lighterBg: #1f1e31;
  --lightBg: #171427;
  --yellow: #eafa45;
  --bg: #020114;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 40px 50px;
  background-color: var(--bg);
  height: 100vh;
}

.header {
  color: #eafa45;
}

.players {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 100px;
  margin: 40px auto 20px;
  padding: 40px 30px;
  width: 80%;
  background-color: var(--lightBg);
}

.players-list {
  margin-top: 20px;
  list-style: none;
  border: 1px solid var(--yellow);
  max-height: 40vh;
  overflow-y: auto;
}

.player-info {
  padding: 20px 15px;
  color: #fff;
}

.player-info:nth-of-type(even) {
  background-color: var(--lighterBg);
  color: #fff;
}

.players-header {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 5px 15px;
  background-color: var(--yellow);
  color: var(--lightBg);
  text-transform: capitalize;
  border: none;
  border-radius: 2px;
}

.error {
  color: red;
  margin-top: 20px;
}

.form {
  margin-top: 20px;
}

.form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

.form-input {
  height: 35px;
  padding: 3px 5px;
  color: #fff;
  border-radius: 2px;
  background-color: var(--lighterBg);
  border: 1px solid var(--yellow);
}

.secondaryHeader {
  text-transform: capitalize;
  color: #fff;
}
